.swiper-button-prev,
.swiper-button-next {
   color: #FFBA08;
}

.swiper-pagination-bullet  {
   height: 1rem;
   width: 1rem;
   background: #999999;
   opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
   background: #FFBA08;
}